@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "emporia";
  src: url("/font/emporia-roman-font/emporia-roman.otf") format("truetype");
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "emporia", sans-serif;
    background-color: #1b1b1b;
    color: white;
  }

  ::-webkit-scrollbar {
    width: 0;
  }
}

@layer components {
  .wrapper {
    overflow: scroll;
    scroll-snap-type: y mandatory;
    max-height: 100vh;
    scroll-behavior: smooth;
  }

  .shape {
    background: linear-gradient(
      rgba(238, 0, 0, 1) 0%,
      rgba(238, 163, 0, 1) 76%,
      rgba(252, 252, 252, 1) 100%
    );
    border-radius: 25rem 25rem 0 0;
    opacity: 0.7;
  }

  .glass-btn {
    background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0));
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14px);
  }
}